# WEEK ONE PROJECT. 

# DATA SOURCE
Data used aquired from - https://www.kaggle.com/datasets/ayushmi77al/weather-data-set-for-beginners

# Questions to be answered. 

## Quiz One 

* Find all records where the weather was exactly clear.

* Find the number of times the wind speed was exactly 4 km/hr.

* Check if there are any NULL values present in the dataset.

* Rename the column "Weather" to "Weather_Condition."

* What is the mean visibility of the dataset?

* Find the number of records where the wind speed is greater than 24 km/hr and visibility is equal to 25 km.

* What is the mean value of each column for each weather condition?

* Find all instances where the weather is clear and the relative humidity is greater than 50, or visibility is above 40.

* Find the number of weather conditions that include snow.


## Quiz Two. 

Connect to a database, create a table and import data then answer the above questions using sql.

# QUIZ One. 

## 1. Import modules and data.

In [1]:
# Import modules.

import pandas as pd

In [5]:
# Read dataset 

data = pd.read_csv('1. Weather Data.csv')

## 2. Data Exploration.

In [16]:
# Data exploration 

print(f'First 5 rows/observationa : \n {data.head(3)} \n\n\
Last 3 rows : \n {data.tail(3)} \n\n\
Number of rows and headers : {data.shape}')

First 5 rows/observationa :
        Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
0  1/1/2012 0:00    -1.8              -3.9         86                4
1  1/1/2012 1:00    -1.8              -3.7         87                4
2  1/1/2012 2:00    -1.8              -3.4         89                7

   Visibility_km  Press_kPa               Weather
0            8.0     101.24                   Fog
1            8.0     101.24                   Fog
2            4.0     101.26  Freezing Drizzle,Fog

Last 3 rows :
              Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
8781  12/31/2012 21:00    -0.5              -1.5         93               28
8782  12/31/2012 22:00    -0.2              -1.8         89               28
8783  12/31/2012 23:00     0.0              -2.1         86               30

      Visibility_km  Press_kPa Weather
8781            4.8      99.95    Snow
8782            9.7      99.91    Snow
8783           11.3      99.89    Snow

Number of rows and headers : (8784, 8)

In [14]:
print(f'Column data types : \n {data.info()}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB
Column data types :
 None

In [15]:
# Basic statistics of numerical data columns(float and integers) 

data.describe()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [24]:
# Get non numerical data columns 

non_Numeric = data.select_dtypes(exclude=['float64', 'int64']).columns.to_list()
print(f'Non numerical columns : {non_Numeric}')

# Value counts 
print(f'Counts unique values in date colum : {data['Date/Time'].nunique()} \n')
print(f'Counts unique values in weather columns : {data['Weather'].nunique()} \n \
      Value count of each unique value {data['Weather'].value_counts()}')

Non numerical columns : ['Date/Time', 'Weather']
Counts unique values in date colum : 8784

Counts unique values in weather columns : 50
       Value count of each unique value Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: count, dtype: int64

## 3. Answers to quiz. 

### 3.1 Find all records where the weather was exactly clear.

In [25]:
# Fetch all the rows where weather is clear 

data.loc[data['Weather'] == 'Clear']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

### 3.2 Find the number of times the wind speed was exactly 4 km/hr.

In [32]:
# First select rows with windspeed of 4, save them into a variable 
speed_4KM = data.loc[data['Wind Speed_km/h'] == 4]

# Find the length of features/number of rows  in the above subset data
print(f'Therea are {len(speed_4KM)} features ')

Therea are 474 features

### 3.3 Check if there are any NULL values present in the dataset.

In [36]:
# Any column with null values, columns will be True if they have null, else False 

has_Null = data.isnull().any()
has_Null

Date/Time           False
Temp_C              False
Dew Point Temp_C    False
Rel Hum_%           False
Wind Speed_km/h     False
Visibility_km       False
Press_kPa           False
Weather             False
dtype: bool

### 3.4 Rename the column "Weather" to "Weather_Condition."

In [50]:
# Rename and save , place values into a dictionary 

data.rename(columns={
    # Originale : New name 
    'Weather': 'Weather_Conditions'}, inplace=True)

data

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Conditions
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

### 3.5 What is the mean visibility of the dataset?

In [41]:
# Determine the mean of visibility column 

print(f'The mean of visisbility rounded to 2 decimal places is : {round(data.Visibility_km.mean(), 2)}')

The mean of visisbility rounded to 2 decimal places is : 27.66

### 3.6 Find the number of records where the wind speed is greater than 24 km/hr and visibility is equal to 25 km.

In [45]:
# Get rows 
wd_SpeedAbove_24 = data[data['Wind Speed_km/h'] > 24]

# Find length of dataset 
print(f'There are {len(wd_SpeedAbove_24)} observations ')

There are 1047 observations

### 3.8 What is the mean value of each column for each weather condition?

In [48]:
# Sunset numeric colums into one list by exluding all objects  

numeric_Columns = data.select_dtypes(exclude=['object']).columns.to_list()

# Find mean for each 
data[numeric_Columns].mean()

Temp_C                8.798144
Dew Point Temp_C      2.555294
Rel Hum_%            67.431694
Wind Speed_km/h      14.945469
Visibility_km        27.664447
Press_kPa           101.051623
dtype: float64

### 3.9 Find all instances where the weather is clear and the relative humidity is greater than 50, or visibility is above 40.

In [51]:
# Filter using logical conditions 

# Weather conditions is clear and humidity is above 50 
data[(data['Weather_Conditions'] == 'Clear') & (data['Rel Hum_%'] > 50)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Conditions
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
241,1/11/2012 1:00,-10.7,-17.8,56,17,25.0,101.49,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [52]:
# Weather conditions is clear and visibility is above 40 
data[(data['Weather_Conditions'] == 'Clear') & (data['Visibility_km'] > 40)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Conditions
351,1/15/2012 15:00,-15.4,-22.8,53,24,48.3,102.71,Clear
352,1/15/2012 16:00,-15.1,-22.8,52,24,48.3,102.79,Clear
425,1/18/2012 17:00,-11.3,-18.8,54,26,48.3,101.54,Clear
440,1/19/2012 8:00,-13.7,-18.4,68,19,48.3,101.84,Clear
441,1/19/2012 9:00,-12.7,-17.2,69,17,48.3,101.73,Clear
...,...,...,...,...,...,...,...,...
8384,12/15/2012 8:00,-10.7,-15.6,67,13,48.3,102.69,Clear
8385,12/15/2012 9:00,-10.4,-15.9,64,19,48.3,102.74,Clear
8389,12/15/2012 13:00,-8.4,-14.7,60,19,48.3,102.64,Clear
8631,12/25/2012 15:00,-7.1,-13.7,59,17,48.3,101.98,Clear
8632,12/25/2012 16:00,-7.5,-13.9,60,11,48.3,102.03,Clear

### 3.10 Find the number of weather conditions that include snow.

In [55]:
# Filter and save to variable 
snowy_Weather = data[data['Weather_Conditions'] == 'Snow']
print(f'Observations with snow : \n {snowy_Weather}\n')


print(f'Number of observations {len(snowy_Weather)}')

Observations with snow :
              Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
55       1/3/2012 7:00   -14.0             -19.5         63               19
84      1/4/2012 12:00   -13.7             -21.7         51               11
86      1/4/2012 14:00   -11.3             -19.0         53                7
87      1/4/2012 15:00   -10.2             -16.3         61               11
88      1/4/2012 16:00    -9.4             -15.5         61               13
...                ...     ...               ...        ...              ...
8779  12/31/2012 19:00     0.1              -2.7         81               30
8780  12/31/2012 20:00     0.2              -2.4         83               24
8781  12/31/2012 21:00    -0.5              -1.5         93               28
8782  12/31/2012 22:00    -0.2              -1.8         89               28
8783  12/31/2012 23:00     0.0              -2.1         86               30

      Visibility_km  Press_kPa Weather_Conditions
55             25.0     100.95               Snow
84             24.1     101.25               Snow
86             19.3     100.97               Snow
87              9.7     100.89               Snow
88             19.3     100.79               Snow
...             ...        ...                ...
8779            9.7     100.13               Snow
8780            9.7     100.03               Snow
8781            4.8      99.95               Snow
8782            9.7      99.91               Snow
8783           11.3      99.89               Snow

[390 rows x 8 columns]

Number of observations 390